body  {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.5;
}

div {
    /* border: 1px solid gray; */
}

img {
    max-width: 800px;
    margin: 1% 0;
}

#est-text {
    color: rgba(128,128,128,255);
}

#mainTitle {
    margin: 5% 0 2% 0;
}

.constrain-image {
    width:100%;
    min-width: 450;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

#start-button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.horz-centre-text {
    text-align: center;
}

#qnIndex {
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-bottom: 3%;
}

#qnTitle {
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: x-large;
    margin-bottom: 2%;
}

#qnText {
    margin-bottom: 3%;
}

.form-check {
    padding: 1% 5%;
    margin: 1% 1%;
    background-color: azure;
    border: 1px solid azure;
}

#submit-button, #next-button{
    margin: 2% 0;
}

#result {
    padding: 1% 2%;
    margin: 2% 0;
}

.explanation-container {
    margin-top: 2%;
}

@media screen and (max-width: 992px) {
    .pad-top {
        padding-top: 5%;
    }
    #start-button {
        margin: 0;
    }
}