body  {
    font-family: 'Open Sans', sans-serif;
}

div {
    /* border: 1px solid gray; */
}

img {
    max-width: 800px;
    margin: 1% 0;
}

#mainTitle {
    margin: 5% 0 2% 0;
}

#start-button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0;
}

.horz-centre-text {
    text-align: center;
}

#qnIndex {
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-bottom: 3%;
}

#qnTitle {
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: x-large;
    margin-bottom: 2%;
}

#qnText {
    margin-bottom: 3%;
}

.form-check {
    padding: 1% 5%;
    margin: 1% 1%;
    background-color: azure;
}

#submit-button, #next-button{
    margin-top: 2%;
}